# Project Information
site_name: Chictf-Writeups
site_author: YanhuiJessica

# Repository
repo_name: 'YanhuiJessica/Chictf-Writeups'
repo_url: https://github.com/YanhuiJessica/Chictf-Writeups

nav:
    - 简介:
      - 首页: index.md
      - 如何参与: how_to_participate.md
    - Misc:
      - Unpleasant music: misc/unpleasant_music.md
      - 一叶障目: misc/leaf_cover_eyes.md
      - Difficult Programming Language: misc/difficult_programming_language.md
      - 机密信息: misc/secret_information.md
      - 藏藏藏: misc/hide_and_seek.md
      - TARGZ-y1ng: misc/targz_y1ng.md
      - gakki: misc/gakki.md
      - HackerGame 2020:
        - 从零开始的记账工具人: misc/account_bot.md
        - 从零开始的火星文生活: misc/gibberish_message.md
        - 自复读的复读机: misc/self_repeating_repeater.md
        - 233 同学的字符串工具: misc/233_string_tool.md
        - 233 同学的 Docker: misc/233_docker.md
        - 来自一教的图片: misc/4f_system_middle.md
        - 超基础的数理模拟器: misc/basic_math_simulator.md
      - Stegano50: misc/stegano50.md
      - NEWSCTF - ！了反都，了反: misc/newsctf_all_reverse.md
      - audio-frequency-stego: misc/audio_frequency_stego.md
      - DeconstruCT.F 2021:
        - Pirates: misc/pirates.md
        - Teg Rads: misc/teg_rads.md
    - Web:
      - 文件上传 JS 绕过: web/t_star_upload_bypass.md
      - 小猫咪踩灯泡: web/t_star_tomcat.md
      - CTFHub - 反射型 XSS: web/ctfhub_reflected_xss.md
      - 主动: web/initiative.md
      - Funhash: web/funhash.md
      - XSS Game: web/xss_game.md
      - Web php include: web/web_php_include.md
      - CTFHub - Git 泄露: web/ctfhub_git_leakage.md
      - NEWSCTF - easy_web: web/newsctf_easy_web.md
      - Here's a Flag: web/heres_a_flag.md
    - Reverse:
      - EasyRe: reverse/easyre.md
      - z3: reverse/z3.md
      - NEWSCTF - re_signin: reverse/newsctf_re_signin.md
    - Pwn:
      - when did you born: pwn/when_did_you_born.md
    - Crypto:
      - bank: crypto/bank.md
      - shanghai: crypto/shanghai.md
      - easy_RSA: crypto/easy_rsa.md
      - Normal_RSA: crypto/normal_rsa.md
      - easy_ECC: crypto/easy_ecc.md
      - fanfie: crypto/fanfie.md
      - 转轮机加密: crypto/jefferson_disk.md
      - 编码与调制: crypto/code_modulate.md
      - CISCN - rsa: crypto/ciscn_rsa.md
      - opisthocomus-hoazin: crypto/opisthocomus_hoazin.md
      - Alkaloid Stream: crypto/alkaloid_stream.md
    - Wargames:
      - Natas: wargames/natas.md
      - Leviathan: wargames/leviathan.md
    - 彩蛋:
      - CTFHub - 首页: eggs/ctfhub_index.md
      - CTFHub - 公众号: eggs/ctfhub_wechat.md
      - CTFHub - 工具: eggs/ctfhub_tools.md
      - CTFHub - 赛事: eggs/ctfhub_match.md
      - CTFHub - 真题: eggs/ctfhub_exams.md

# Theme
theme:
    name: 'material'
    custom_dir: docs/overrides
    language: 'zh'
    palette:
      primary: 'white'
      accent: 'red'
    logo:
      icon: 'school'
    feature:
      tabs: true
    font:
      text: 'Fira Sans'
      code: 'Fira Mono'

plugins:
    - search
    - git-revision-date-localized:
        type: datetime
        locale: en
    - git-authors

extra_javascript:
    - js/mathjax.js
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - type: 'github'
      link: 'https://github.com/YanhuiJessica'

# Extensions
markdown_extensions:
    - admonition
    - codehilite:
        guess_lang: false
        linenums: true
    - def_list
    - footnotes
    - meta
    - toc:
        permalink: true
    - pymdownx.arithmatex:
        generic: true
    - pymdownx.caret
    - pymdownx.critic
    - pymdownx.details
    - pymdownx.emoji:
        emoji_generator: !!python/name:pymdownx.emoji.to_svg
    - pymdownx.inlinehilite
    - pymdownx.keys
    - pymdownx.magiclink
    - pymdownx.mark
    - pymdownx.progressbar
    - pymdownx.smartsymbols
    - pymdownx.superfences:
        custom_fences:
          - name: math
            class: arithmatex
            format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.tilde
